target/classes/contact_mechanisms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	
	
	<flow name="get-contact-mechanisms-flow" doc:id="4ccc62ce-a256-44c1-9fd5-67f4efd6ab36" >
		<flow-ref doc:name="get-soa-customer-subflow" doc:id="33c835a3-ae09-4520-a052-44f09e8b82ef" name="get-soa-customer-subflow"/>
		<ee:transform doc:name="Transform Message" doc:id="33a45976-f8e7-48ec-9dfb-45755ffaea19">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer=payload.body.GetCustomerResponse.Customer
var contactMechanisms=customer.ContactMechanism
---
{
	contactMechanisms:  (
		contactMechanisms.PhoneList.*Phone map ((phoneItem) -> {
			"type": "phone",
			subtype: phoneItem.Type,
			value: phoneItem.ContactNumber,
			isPrimary: (phoneItem.PurposeList.*Purpose.Description default []) contains "Identifying"
		}) default []
	) 
	++
	(
		contactMechanisms.EmailList.*Email map ((emailItem) -> {
			"type": "email",
			value: emailItem.EmailAddress,
			isPrimary: (emailItem.PurposeList.*Purpose.Description default []) contains "Identifying"
		}) default []
	) 

}
	
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	
	
	
	
</mule>
